<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#" onclick="return false;">Ecija<span style="color:#18bc9c">Gaming</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/register">Registro</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
          <a class="nav-link" href="#" routerLink="/private">Administración</a>
        </li>
      <li class="nav-item navbar-right" *ngIf="isLogin">
        <a class="nav-link" routerLink="/" (click)="onClickLogout()">Salir</a>
      </li>
      <li class="nav-item navbar-right" *ngIf="isLogin">
        <a class="nav-link">{{nombreUser}}</a>
      </li>
      <li class="nav-item navbar-right" *ngIf="isLogin">
        <img src="{{photo}}" class="rounded-circle">
        <span class="badge pill badge-secondary">{{email}}</span>
      </li>
    </ul>
</div>
</nav>