<!-- Modal -->
<div class="modal fade" id="modalNuevoSocio" tabindex="-1" role="dialog" aria-labelledby="modalNuevoSocioLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNuevoSocioLabel">Nuevo Socio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        <app-socio></app-socio>
    
    </div>
  </div>
</div>

<!-- Listado de socios -->
<div class="row mt-1">
  <div class="card">
    <div class="card-body flexible">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido 1</th>
            <th scope="col">Apellido 2</th>
            <th scope="col">Email</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let socio of socioList">
            <td>{{socio.nombre}}</td>
            <td>{{socio.apellido1}}</td>
            <td>{{socio.apellido2}}</td>
            <td>{{socio.email}}</td>
            <td>{{socio.telefono}}</td>
            <td>
              <a class="btn btn-primary text-white" data-toggle="modal" data-target="#modalNuevoSocio" (click)="onEdit(socio)">
                <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-primary text-white" data-toggle="modal" data-target="#modalNuevoSocio">
                <i class="fa fa-user-plus"></i>
              </a>
              <a class="btn btn-danger text-white" (click)="onDelete(socio.$key)">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>