<!-- Modal -->
<div class="modal fade" id="modalNuevoSocio" tabindex="-1" role="dialog" aria-labelledby="modalNuevoSocioLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNuevoSocioLabel">Nuevo Socio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <app-socio></app-socio>

    </div>
  </div>
</div>

<!-- Listado de socios -->
<div class="table-responsive mt-1">
  
  <form class="form-inline my-2 my-lg-2" onsubmit="return false">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar Socio" aria-label="Search" (keyup)="onSearchSocio(filtro)" id="filtro">
      <a class="btn btn-primary text-white" data-toggle="modal" data-target="#modalNuevoSocio">
        <i class="fa fa-user-plus"></i>
      </a>
    </form>
  
  <table id="dtSocios" class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th scope="col" class="th-sm" (click)="sortTable(0)"><i class="fa fa-sort float-right" style="cursor: pointer;" aria-hidden="true"></i>Nombre</th>
        <th scope="col" class="th-sm" (click)="sortTable(1)"><i class="fa fa-sort float-right" style="cursor: pointer;" aria-hidden="true"></i>Apellido 1</th>
        <th scope="col" class="th-sm" (click)="sortTable(2)"><i class="fa fa-sort float-right" style="cursor: pointer;" aria-hidden="true"></i>Apellido 2</th>
        <th scope="col" class="th-sm" (click)="sortTable(3)"><i class="fa fa-sort float-right" style="cursor: pointer;" aria-hidden="true"></i>Email</th>
        <th scope="col" class="th-sm" (click)="sortTable(4)"><i class="fa fa-sort float-right" style="cursor: pointer;" aria-hidden="true"></i>Teléfono</th>
        <th scope="col" class="th-sm">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let socio of socioList">
        <td>{{socio.nombre}}</td>
        <td>{{socio.apellido1}}</td>
        <td>{{socio.apellido2}}</td>
        <td>{{socio.email}}</td>
        <td>{{socio.telefono}}</td>
        <td>
          <a class="btn btn-primary text-white" data-toggle="modal" data-target="#modalNuevoSocio" (click)="onEdit(socio)">
            <i class="far fa-edit"></i>
          </a>
          
          <a class="btn btn-danger text-white" (click)="onDelete(socio.$key)">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
