<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="jumbotron mt-3">
  <h3 class="display-4">Gestión Socios</h3>
  <hr class="my-4">
  <div class="row">
    <div class="col-md-12 text-center">
      <app-socio-list></app-socio-list>
    </div>
  </div>
  <div class="mt-3 text-center">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" routerLink="/private" role="button">Volver</a>
    </p>
  </div>
</div>