<!-- card con imagen redonda y fondo -->
<!-- inicio de card -->
<div class="container">
  <div class="card-deck mt-3">
    <div class="card">
      <img class="card-img-top img-fluid" src="../../../assets/images/fondo-player.jpg">
      <div class="text-center">
        <img src="../../../assets/images/Eg.jpg" class="img-fluid iconoimagen rounded-circle" height="100px" width="100px">
      </div>
      <div class="card-block">
        <h4 class="card-title ml-2">Socios EGC</h4>
        <p class="card-text ml-2">Control de las altas/bajas de los socios de Ecija Gaming Comunity. Listado de todos los
          miembros de esta gran comunidad.
        </p>
      </div>
      <div class="card-footer text-center align-botton">
        <a class="btn btn-primary btn-lg" href="#" routerLink="/socio" role="button">Gestión Socios</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top img-fluid" src="../../../assets/images/fondo-bitcoin.jpg">
      <div class="text-center">
        <img src="../../../assets/images/Eg.jpg" class="img-fluid iconoimagen rounded-circle" height="100px" width="100px">
      </div>
      <div class="card-block">
        <h4 class="card-title">Pago Cuotas</h4>
        <p class="card-text">Apartado que gestiona el pago mensual de los socios. Control de los ingresos mensuales de la asociación de 
          EGC.
        </p>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-primary btn-lg" href="#" routerLink="/socio" role="button">Cuotas</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top img-fluid" src="../../../assets/images/fondo-torneo.jpg">
      <div class="text-center">
        <img src="../../../assets/images/Eg.jpg" class="img-fluid iconoimagen rounded-circle" height="100px" width="100px">
      </div>
      <div class="card-block">
        <h4 class="card-title">Torneos</h4>
        <p class="card-text">Sección que ofrece información de los próximos torneos que se van a llevar a cabo en la asociación.
          Así como las bases, fechas y premios.
        </p>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-primary btn-lg" href="#" routerLink="/socio" role="button">Tournaments</a>
      </div>
    </div>
  </div>
</div>