<!-- card con imagen redonda y fondo -->
<!-- inicio de card -->
<div class="container">
  <div class="card-deck mt-3">
    <div class="card">
      <img class="card-img-top img-fluid" src="../../../assets/images/fondo-player.jpg">
      <div class="text-center">
        <img src="../../../assets/images/Eg.jpg" class="img-fluid iconoimagen rounded-circle" height="100px" width="100px">
      </div>
      <div class="card-block">
        <h4 class="card-title ml-2">Socios EGC</h4>
        <p class="card-text ml-2">Control de las altas/bajas de los socios de Ecija Gaming Comunity. Listado de todos los
          miembros de esta gran comunidad.
        </p>
      </div>
      <div class="card-footer text-center align-botton">
        <a class="btn btn-primary btn-lg" href="#" routerLink="/socio" role="button">Gestión Socios</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top img-fluid" src="../../../assets/images/fondo-player.jpg">
      <div class="text-center">
        <img src="../../../assets/images/Eg.jpg" class="img-fluid iconoimagen rounded-circle" height="100px" width="100px">
      </div>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-primary btn-lg" href="#" routerLink="/socio" role="button">Gestión Socios</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top img-fluid" src="../../../assets/images/fondo-player.jpg">
      <div class="text-center">
        <img src="../../../assets/images/Eg.jpg" class="img-fluid iconoimagen rounded-circle" height="100px" width="100px">
      </div>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-primary btn-lg" href="#" routerLink="/socio" role="button">Gestión Socios</a>
      </div>
    </div>
  </div>
</div>